
<div id="customcontrols" style="position:fixed;top:10px;left:10px;z-index:1;">
	<details>
		<summary>customize style</summary>
		<table>
			<tr>
				<td><label>text:</label></td>
				<td><input type="color" id="textcolor" value="#111111" /></td>
			</tr>
			<tr>
				<td><label>background:</label></td>
				<td><input type="color" id="bgcolor" value="#fdfdfd" /></td>
			</tr>
			<tr>
				<td><label>even:</label></td>
				<td><input type="color" id="evencolor" value="#ffffff" /></td>
			</tr>
			<tr>
				<td><label>odd:</label></td>
				<td><input type="color" id="oddcolor" value="#cccccc" /></td>
			</tr>
			<tr>
				<td><label>hover:</label></td>
				<td><input type="color" id="hovercolor" value="#eeeeee" /></td>
			</tr>
			<tr>
				<td><label>watching:</label></td>
				<td><input type="color" id="watchingcolor" value="#90EE90" /></td>
			</tr>
			<tr>
				<td><label>link:</label></td>
				<td><input type="color" id="linkcolor" value="#2a7ae2" /></td>
			</tr>
			<tr>
				<td><label>visited:</label></td>
				<td><input type="color" id="visitedcolor" value="#800080" /></td>
			</tr>
			<tr>
				<td><label>hidden:</label></td>
				<td><input type="color" id="hiddencolor" value="#000000" /></td>
			</tr>
		</table>
		<a href="" id="resetcolors">Zur&uuml;cksetzen</a>
	</details>
</div>

<style id="customstyle" type="text/css"></style>

<script type="application/ecmascript"
	src="{{ "/js/customstyle.js" | prepend: site.baseurl }}"></script>

