table.competition, table#ranking{
	text-align: center;

	thead th{
		border-bottom: 1px black solid;
	}
}

table.competition{
	tbody:nth-child(even){
		background-color: white;
	}
	tbody:nth-child(odd){
		background-color: #CCC;
	}

	tbody{
		tr:hover{
			background-color: #EEE;
		}

		td:nth-child(2){
			text-align: left;
		}

		/*tbody>tr>td:nth-child(3){*/
		td.score{
			color: black;
			background-color: black;
		}
	}
}

table#ranking{
	tbody{
		tr:nth-child(odd){
			background-color: white;
		}
		tr:nth-child(even){
			background-color: #CCC;
		}
		tr:hover{
			background-color: #EEE;
		}


		td{
			color: black;
			background-color: black;
		}
	}

	td:first-child{
		text-align: left;
	}
}
