@media screen and (min-width: 1200px){
	.wrapper{
		max-width: 1200px;
	}

	.fixed{
		z-index: 1; position: fixed; top: 0;
	}

	#text, .post-header{
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	#player{
		float: right;
	}
	#tables{
		float:left;
	}
}

.visited a{
	color: $visited-color;
}
.watching{
	background-color: $watching-color;
}

table.competition, table#ranking{
	text-align: center;

	thead th{
		border-bottom: 1px solid;
	}
}

table.competition{
	tbody{
		&:nth-child(even){
			background-color: $even-color;
		}
		&:nth-child(odd){
			background-color: $odd-color;
		}

		tr:hover{
			background-color: $hover-color;
		}

		td:nth-child(2){
			text-align: left;
		}

		td.score{
			color: $hidden-color;
			background-color: $hidden-color;
			
			&.visible, &:hover{
				color: inherit !important;
				background-color: inherit !important;
			}
			&:hover{
				transition: background-color 2s, color 2s;
			}
		}
	}
}

table#ranking{
	tbody{
		tr{
			background-color: $hidden-color;
			color: $hidden-color;

			a{ color: $hidden-color; }

			&:hover, &:hover a{
				color: inherit !important;
				background-color: inherit !important;
				transition: background-color 2s, color 2s;
			}

		}
		td:first-child{
			text-align: left;
		}
	}
	&.visible tbody{
		tr{
			color: inherit !important;

			a{ color: inherit !important; }

			&:nth-child(odd){
				background-color: $even-color;

			}
			&:nth-child(even){
				background-color: $odd-color;
			}
			&:hover{
				background-color: $hover-color;
				transition: background-color 0s;
			}
		}
	}
}
